.beer-banner {
	padding-top: 5.775rem;
	padding-top: clamp(5.775rem, 4.433rem + 5.964vw, 8.25rem);
	@include breakpoint(medium) {
		padding-top: 8.25rem;
		padding-top: clamp(5.775rem, 4.433rem + 5.964vw, 8.25rem);
	}
	&:before {
		content: '';
		display: block;	
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-image: url(../images/beer-banner-hops-pattern.png);
		background-size: contain;
		background-repeat: no-repeat;
	}
	.img-wrap,
	.text-wrap {
		margin-bottom: 3rem;
	}
	.img-wrap {
		max-width: 433px;
		margin-left: auto;
		margin-right: auto;
		img {
			border-radius: 22px;
			border-radius: clamp(0.963rem, 0.739rem + 0.994vw, 1.375rem);
			box-shadow: 0px 1px 26px 0px rgba(4,22,41,0.75);
		}
	}
	.text-wrap {
		p {
			&:not(:last-of-type) {
				margin-bottom: 1.35em;
			}
		}
	}
	.abv-date {
		padding-top: rem-calc(8);
	}
	.tax-menu {
		padding-top: rem-calc(24);
		li {
			margin-bottom: $smallGutter;
			@include breakpoint(medium) {
				margin-bottom: $mediumGutter;
			}
		}
	}
}

.page-template-page-beer,
.tax-style {
	.beer-banner {
		margin-bottom: 2.313rem;
		margin-bottom: clamp(1.619rem, 1.243rem + 1.672vw, 2.313rem);
		padding-top: 3.413rem;
		padding-top: clamp(3.413rem, 2.62rem + 3.524vw, 4.875rem);
		padding-bottom: 4.987rem;
		padding-bottom: clamp(4.987rem, 3.829rem + 5.151vw, 7.125rem);
		@include breakpoint(medium) {
			padding-top: 7.125rem;
			padding-top: clamp(3.413rem, 2.62rem + 3.524vw, 4.875rem);
			padding-bottom: 7.125rem;
			padding-bottom: clamp(4.987rem, 3.829rem + 5.151vw, 7.125rem);
		}
		p {
			color: $color-pale-blue;
		}
	}
	button[data-toggle="sort-dropdown"]:not(.no-style):not(.input-wrap),
	button#sort-brew-date:not(.no-style):not(.input-wrap) {
		color: $color-yellow;
		font-size: rem-calc(18);
		&:hover {
			background-color: $color-light-blue;
			color: $white;
		}
	}
	button[data-toggle="sort-dropdown"] {
		background-color: $white;
		border: 1px solid $color-yellow;
		margin-bottom: rem-calc(28);
		&[aria-expanded="true"] {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:hover {
			border-color: $color-light-blue;
		}
	}
	.sort-dropdown {
		.btn-wrap:not(:last-child) {
			margin-bottom: rem-calc(8); 
		}
		button {
			transition: color .25s ease;
			&:hover:not(.active) {
				color: $color-blue;
			}
			&.active {
				opacity: .5;
				&:hover {
					cursor: default;
				}
			}
		}
	}
	article.beer-card {
		margin-bottom: rem-calc(46);
		transition: opacity .25s ease .35s;
		&.hidden {
			visibility: hidden;
			width: 0px !important;
			height: 0px !important;
			margin: 0px !important;
			padding: 0px !important;
			opacity: 0;
		}
		a {
			height: auto;
		}
		.thumb-wrap {
			margin-bottom: rem-calc(10);
		}
		img {
			border-radius: 6px;
		}
		h2 {
			text-transform: none;
			line-height: 1.1923;
			margin-bottom: .15em;
		}
		.meta {
			padding-top: rem-calc(5);
		}
		.entry-footer {
			padding-top: rem-calc(32);
		}
	}
}

.single-beer-cpt {
	.beer-banner {
		padding-bottom: 5px;
	}
	.prefooter-cta {
		border-top: 10px solid $white;
	}
}