figure.wp-block-image {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
[class^="wp-block-"]:not(.wp-block-image):not(.wp-block-column):not(.wp-block-heading):not(.wp-block-quote),
.module.block {
	margin-top: rem-calc(30);
	margin-bottom: rem-calc(30);
	@include breakpoint(tablet) {
		margin-top: rem-calc(52);
		margin-bottom: rem-calc(52);
	}
	&.wp-block-heading:not(h4) {
		margin-bottom: .7rem;
	}
	&.button-group {
		margin-bottom: 0;
	}
	&.wp-block-image {
		margin-top: 1.75rem;
	}
	&.is-layout-flow {
		figure {
			margin-bottom: 2.5rem;
		}
		.wp-block-heading {
			@media (min-width: 782px) {
				margin-top: 0;
			}
		}
	}
	&.wp-block-column {
		.button-group .button:last-child:only-child {
			margin-bottom: 0;
		}
	}
	&.block-tabbed-content,
	&.accordion-block,
	&.testimonial-slider {
		margin-top: 3.5rem;
		margin-bottom: 3.5rem;
		@include breakpoint(tablet) {
			margin-top: 5rem;
			margin-bottom: 5rem;
		}
	}
}
blockquote.wp-block-quote,
blockquote {
	padding: 0 0 0 5%;
	//max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: rem-calc(82.6);
	margin-bottom: rem-calc(89.6);
	@include breakpoint(tablet) {
		margin-top: rem-calc(118);
		margin-bottom: rem-calc(128);
	}
	&:before {
		content: '';
		position: absolute;
		width: 12%;
		height: 100%;
		text-align: center;
		background-image: url(../images/quote-beer.svg);
		background-size: contain;
		background-position: 50% 5%;
		background-repeat: no-repeat;
	}
	p,
	cite {
		padding-left: 17%;
		padding-right: 5%;
	}
	cite {
		color: $color-blue;
		font-style: normal;
	}
}
hr.wp-block-separator {
	border-color: #cccccc;
}
body.error404,
body.page-template-default,
body.page-template-page-search,
body.single-post {
	.entry-content:not(.accordion-content):not(.tabs-panel) {
		overflow: hidden;
		padding-top: 5.5rem;
		padding-bottom: 5.5rem;
		padding-top: clamp(5.5rem, 4.574rem + 4.115vw, 8rem);
		padding-bottom: clamp(5.5rem, 4.574rem + 4.115vw, 8rem);
		@include breakpoint(medium) {
			padding-top: 8rem;
			padding-bottom: 8rem;
			padding-top: clamp(5.5rem, 4.574rem + 4.115vw, 8rem);
			padding-bottom: clamp(5.5rem, 4.574rem + 4.115vw, 8rem);
		}
		.inner > *:first-child {
			margin-top: 0;
		}
		ul:not(.tabs):not(.accordion),
		ol,
		.button-group,
		.inner > .wp-block-image  {
			line-height: 2;
			margin-top: rem-calc(25);
			margin-bottom: rem-calc(0);
			@include breakpoint(medium) {
				margin-top: rem-calc(35);
				margin-bottom: rem-calc(0);
			}
		}
		.button-group.block {
			.cell {
				margin-bottom: rem-calc(40);
			}
			&+ .wp-block-heading {
				margin-top: 0;
			}
		}
		h1,
		h2,
		h3,
		h4,
		h5 {
			margin-top: 72px;
			margin-bottom: .38em;
			~ p {
				margin-top: 0;
			}
		}
		h1 {
		}
		h4 {
			padding-bottom: 0;
		}
		.wp-block-columns,
		.tabs-panel {
			h1,
			h2,
			h3,
			h4,
			h5 {
				margin-top: 0;
			}
			.button-group  {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
		.accordion-content > *:first-child {
			margin-top: 0;	
		}
		.button-group  {
			padding-top: rem-calc(30);
			padding-bottom: rem-calc(30);
		}
		.content-wrap {
			> *:first-child {
				margin-top: rem-calc(10);
			}
		}
		ul,
		ol {
			&:not(.tabs) {
				margin-bottom: 2.5rem;
				@include breakpoint(tablet) {
					margin-bottom: 3rem;
				}
			}
			&:not(.tabs):not(.accordion) {
				padding-left: 2.5rem;
			}
			li:not(.accordion-item):not(.tabs-title) {
				margin-bottom: 1.4rem;
			}
		}
	}
}

body.error404 {
	.entry-content {
		> * {
			margin-top: 0 !important;
		}
	}
}

body.single-post .entry-content {
	padding-bottom: 0;
}

.wp-block-gallery.has-nested-images {
	margin-left: -10px;
	margin-right: -10px;
		figure {
			padding: 10px;
		}
	@include breakpoint(tablet) {
	margin-left: -15px;
	margin-right: -15px;
		figure {
			padding: 15px;
		}
	}
}
:where(.wp-block-columns.is-layout-flex) {
	> .wp-block-column-is-layout-flow {
		>*:not(.wp-block-imag) {
			margin-bottom: 2.2rem;
		}
	}
	@media (min-width: 782px) {
		gap: 60px;
	}
}

body.page-template-default {
	article {
		&.no-banner {
			.entry-content {
				padding-top: 5.55rem;
			}
		}
	}
}

body.single-post {
	article {
		&.no-banner {
				padding-top: 5.55rem;
		}
	}
}


