.page-template-page-home {
	.copy-image {
		padding-top: 6.169rem;
		padding-bottom: 6.912rem;
		padding-top: clamp(6.169rem, 4.735rem + 6.37vw, 8.813rem);
		padding-bottom: clamp(6.912rem, 5.306rem + 7.139vw, 9.875rem);
		@include breakpoint(medium) {
			padding-top: 8.813rem;
			padding-bottom: 9.875rem;
			padding-top: clamp(6.169rem, 4.735rem + 6.37vw, 8.813rem);
			padding-bottom: clamp(6.912rem, 5.306rem + 7.139vw, 9.875rem);
		}
		.bg {
			background-size: cover;
		}
		img {
			position: absolute;
			top: 0;
			right: 0;
			width: 40%;
		}
	}
	.cta-slides {
		.swiper-slide {
			.inner {
				min-height: clamp(25.462rem, 19.546rem + 26.295vw, 36.375rem);
			}
			&.layout-title-button {
				.inner {
					padding: 0 10%;
					max-width: 316px;
					margin: auto;
					h2 {
						margin-top: 5rem;
						margin-bottom: 1.85em;
					}
					a.button {
						margin-bottom: 5rem;
					}
				}	
			}
		}
	}
	.home-cta-slider {
		width: 70%;
		max-width: 1024px;
		margin: auto;
		.swiper-slide {
			display: flex;
			height: auto;
			border-top: 10px solid $white;
			border-bottom: 10px solid $white;
		}
		a.grid-x {
			flex-wrap: nowrap;
		}
		.swiper-button-next,
		.swiper-button-prev {
			height: auto;
			width: auto;
			border-top: 10x solid $white;
			border-bottom: 10x solid $white;
			&:after {
				display: none;
			}
		}
		.swiper-button-prev {
			left: 0;
		}
		.swiper-button-next {
			right: 0;
		}
	}
	.cards-slider-copy-cta {
		.bg.mask {
			background-color: #116496;
			mix-blend-mode: multiply;
		}
	}
	.cards-slider {
		width: 80%;
		.swiper-wrapper {
			padding-bottom: 1rem;
		}
		.swiper-pagination {
			position: static;
			span {
				background-color: $color-blue;
				&:hover {
					background-color: $white;
				}
				&.swiper-pagination-bullet-active {
					background-color: $color-yellow;
				}
			}
		}
	}
}