button,
.button,
a.button,
.button.input-wrap label {
	background-color: $color-blue;
	cursor: pointer;
	&.no-style {
		background: transparent;
		padding: 0;
		margin: 0;
	}
	&:not(.no-style):not(.input-wrap) {
		font-size: clamp(1.05rem, 0.917rem + 0.59vw, 1.5rem);
		display: inline-flex;
		align-items: center;
		span {
			display: inline-block;
		}
		svg {
			path {
				transition: .25s ease;
			}
		}
		&:hover {
			background-color: $color-light-blue;
			color: $white;
		}
	}
	&.chev-btn {
		text-align: left;
		span {
			margin-right: 1.17em;
		}
	}
	&.chev-link {
		span {
			margin-right: rem-calc(27);
		}
		&.no-bg {
			padding-left: 0;
			background-color: transparent;
			span {
				margin-right: rem-calc(20);
			}
			&:hover {
				background-color: transparent;
			}
		}
	}
	&.bg-yellow {
		background-color: $color-yellow;
		&:hover,
		&:active {
			background-color: $color-blue;
		}
	}
	&.large {
		padding: .8637em .7934em;
		font-size: clamp(1.4rem, 1.075rem + 1.446vw, 2rem);
	}
}

.button-grid.grid-x {
	margin-right: -#{($smallGutter * .25)};
	margin-left: -#{($smallGutter * .25)};
	@include breakpoint(medium) {
		margin-right: -#{($mediumGutter * .25)};
		margin-left: -#{($mediumGutter * .25)};
	}
	> .cell {
		padding-left: calc($smallGutter * .25);
		padding-right: calc($smallGutter * .25);
		@include breakpoint(medium) {
			padding-left: calc($mediumGutter * .25);
			padding-right: calc($mediumGutter * .25);
		}
	}
	.button {
		margin-bottom: calc($smallGutter * .5);
		@include breakpoint(medium) {
			margin-bottom: calc($mediumGutter * .5);
		}
	}
}

.tax-menu-wrap {
	button,
	.button {
		display: inline-block;
		min-width: 0;
	}
}

.tax-menu.grid-padding-x {
	margin-left: rem-calc(-10);
	margin-left: rem-calc(-10);
	> .cell {
		padding: rem-calc(10);
	}
	.button,
	.input-wrap label {
		background-color: $color-yellow;
		border-style: solid;
		&:is(span),
		&.active,
		&:hover {
			color: $white;
			background-color: $color-light-blue;
		}
	}
	span.button {
		cursor: default;
	}
}

#options.tax-menu-wrap {
	.option-set.tax-menu {
		> .cell {
			opacity: 1;
			transition: all .2s ease;
			&.hide-btn {
				opacity: 0;
				padding: 0;
				width: 0;
				height: 0;
				pointer-events: none;
				cursor: auto;
				overflow: hidden;
			}
			.button {
				font-size: rem-calc(16);
				&:focus {
				  outline: 1px dotted #212121;
				  outline: 5px auto -webkit-focus-ring-color;
				}
			}
			.input-wrap:has(input:focus) {
				label.button {
					outline: 1px dotted #212121;
					outline: 5px auto -webkit-focus-ring-color;
				}
			}
		}
	}
	.input-wrap {
		display: inline-block;
		min-width: 0;
		label {
			margin: 0;
			line-height: 1;
			display: block;
			background-color: transparent;
			cursor: pointer;
			color: $color-pale-blue;
			border: 1px solid $color-pale-blue;
		}
		[type=checkbox] {
			opacity: 0;
			pointer-events: all;
			position: absolute;
			margin: 0;
			cursor: pointer;
			&:checked + label,
			&:hover + label {
				color: $color-blue;
				background-color: $color-pale-blue;
			}
		}
	}
}