.prefooter-cta {
	.bg.mask {
		background-color: $color-yellow;
		mix-blend-mode: multiply;
	}
}

footer#colophon {	
	.left {
		.bottom {
			@include breakpoint(medium down) {
				padding-bottom: 4.1rem;
			}
		}
	}
		
	ul#footer-nav {
		@include breakpoint(medium down) {
			padding-bottom: 4.08rem;
		}
		li {
			&.home-link {
				display: none;
			}
		}
		> li {
			font-family: $font-heading;
			font-size: rem-calc(24);
			line-height: 1.4166;
			> a {
				color: $white;
			}
			.menu {
				flex-direction: column;
				li {
					line-height: 1.375;
					font-family: $font-body;
					a {
						font-weight: 500;
						color: $color-yellow;
					}
				}
			}
		}
	}
	
	.site-info {
		background-color: #042241;
		a {
			color: #D7E9FC;
		}
	}
	
	.copyright {
		margin-bottom: 0;
		@include breakpoint(medium down) {
			text-align: center;
		}
		@include breakpoint(tablet) {
			br {
				display: none;
			}
		}
	}
	
}