// Fonts
$font-heading: "Francois One", Helvetica, Roboto, Arial, sans-serif;
$font-body: "Barlow Condensed", Helvetica, Roboto, Arial, sans-serif;

// Colors
$color-blue: #002D5C;
$color-light-blue: #3576BA;
$color-yellow: #F9AE4B;