// Fonts
$font-heading: "Francois One", Helvetica, Roboto, Arial, sans-serif;
$font-body: "Barlow Condensed", Helvetica, Roboto, Arial, sans-serif;

// Colors
$color-blue: #002D5C;
$heading-black: #505152;
$color-light-blue: #116496;
$color-pale-blue: #D7E9FC;
$color-yellow: #F9AE4B;