.page-banner {
	position: relative;
	overflow: hidden;
	border-bottom: 7px solid $color-yellow;
	.pagination-container {
		max-width: rem-calc(1500);
		.swiper-pagination.swiper-pagination-bullets {
			text-align: left;
			bottom: 1.2rem;
			span {
				text-shadow: 0px 3px 6px rgba(0,0,0,.81);
				margin: 13px;
			}
		}
	}
	&.style-hero-slider {
		min-height: 100vh;
		max-height: 790px;
		.bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.content {
			width: 100%;
			z-index: 2;
		}
		h1 {
			text-shadow: 0px 0px 8px rgba(0,0,0,1);
			line-height: 1.2;
			margin-bottom: 0;
			padding: 4rem 0;
			font-size: 4.287rem;
			font-size: clamp(4.287rem, 3.394rem + 3.973vw, 6.125rem);
			@include breakpoint(medium) {
				font-size: 6.125rem;
				font-size: clamp(4.287rem, 3.394rem + 3.973vw, 6.125rem);
			}
			span {
				text-transform: none;
			}
		}
	}
	&.style-banner-slider,
	&.blog-banner {
		position: relative;
		height: 100%;
		height: 530px;
		height: clamp(27.344rem, 24.209rem + 13.931vw, 33.125rem);
		max-width: 100vw;
		.bg-slider {
			width: 100%;
		}
		.img-wrap,
		.video-wrap {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.swiper-slide {
			.grid-x {
				align-items: center;
				box-sizing: border-box;
			}
			h1 {
				font-size: clamp(2.844rem, 2.183rem + 2.937vw, 4.063rem);
				text-shadow: 0px 3px 14px rgba(0,0,0,.85);
			}
		}
	}

	.bg-slider {
		height: 100%;
		opacity: 0;
		transition: opacity .3s ease .1s;
		.swiper-slide {
			height: 100%;
		}
		&.swiper-initialized {
			opacity: 1;
		}
	}
	.img-wrap,
	.video-wrap {
		height: 100%;
		position: relative;
		img,
		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;	
		}	
	}
	.content {
		z-index: 1;
		width: 100%;
		padding-top: 5rem;
		padding-bottom: 5rem;
		.grid-container {
			flex-wrap: nowrap;
		}
		.title-wrap {
			flex: 1;
			h1 {
				text-shadow: 0px 0px 8px rgba(0,0,0,1);
			}
		}
	}

}